section.top-block
	.container
		.row
			.col-12
				.top-block__content
					.top-block__head.top-block__head_line Lorem ipsum dolor<br>sit amet, consectetur

					.top-block__text Fusce nec purus sit amet magna consequat tristique. Etiam molestie elit quis nisl ultricies, non scelerisque nisi feugiat.

					.top-block__btn
						a.btn(href='#')
							span.btn__text Lorem ipsum

						a.btn.btn_border(href='#')
							span.btn__text Learn more

	
	img.top-block__triangle.top-block__triangle_left(src="assets/img/triangle-left.png", alt="")
	img.top-block__triangle.top-block__triangle_right(src="assets/img/triangle-right.png", alt="")
	
	.btn-scroll

section.info-block
	.container
		.row
			.col-12
				h2 About company

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim congue, tincidunt odio in, vulputate augue. Maecenas imperdiet, quam vel semper dapibus, purus sapien imperdiet turpis, ut gravida diam risus a enim. Cras enim elit, consectetur sed ultricies sit amet, ultrices non enim. Vivamus sed enim eu mi semper molestie sit amet a mi. Suspendisse nunc lacus, iaculis non dui ut, dignissim lacinia elit. Maecenas bibendum nisi vitae nisi egestas vehicula at nec lacus. Nullam gravida sem et mi dictum, at tincidunt ex suscipit. Fusce rhoncus massa odio, vitae sagittis odio ornare sed. Vestibulum at felis mauris. Aenean nec lorem at enim gravida posuere in eget velit. Cras mollis mauris odio, vitae auctor dui tincidunt vitae.

section.services-slider-wrap.bg-grey
	.container
		.row
			.col-12
				h2 Our services

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim congue, tincidunt odio in, vulputate augue. Maecenas imperdiet, quam vel semper dapibus, purus sapien imperdiet turpis, ut gravida diam risus a enim. 

				-
					var list=[
						{img:'service-slide1.png', title:'UI / UX design', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim congue, tincidunt odio in, vulputate augue. Maecenas imperdiet, quam vel semper.'},
						{img:'service-slide2.png', title:'Site Characterization', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim congue, tincidunt odio in, vulputate augue. Maecenas imperdiet, quam vel semper.'},
						{img:'service-slide3.png', title:'website creation', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim congue, tincidunt odio in, vulputate augue. Maecenas imperdiet, quam vel semper.'},
						{img:'service-slide4.png', title:'Additional services', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim congue, tincidunt odio in, vulputate augue. Maecenas imperdiet, quam vel semper.'},
						{img:'service-slide5.png', title:'Outsourcing', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim congue, tincidunt odio in, vulputate augue. Maecenas imperdiet, quam vel semper.'},
					]
				.services-slider
					.swiper-container.services-slider__container.js-services-slider
						.swiper-wrapper
							each item in list
								.swiper-slide
									a(href="#").services-slider__item
										.services-slider__img
											img(src='assets/img/'+item.img, alt="")

										.services-slider__title= item.title

										.services-slider__text= item.text

					.swiper-button-prev.js-services-prev
						+svg('ic-arrow-left','ic-arrow-left', '13', '20')

					.swiper-button-next.js-services-next
						+svg('ic-arrow-right','ic-arrow-right', '13', '20')

section.portfolio-wrap
	.container
		.row
			.col-12
				h2 Our works

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut enim congue, tincidunt odio in, vulputate augue. Maecenas imperdiet, quam vel semper dapibus, purus sapien imperdiet turpis, ut gravida diam risus a enim. 

	-
		var list=[
			{img:'portfolio1.jpg', title:'Lorem ipsum dolor sit amet', text:'Nam rhoncus dui augue, vel aliquet lorem tempor ac. Curabitur porta augue ac nisi feugiat venenatis. Pellentesque tincidunt efficitur ex, non placerat orci dictum eget. Vivamus eleifend velit ac tincidunt feugiat. Duis dignissim nulla quis ipsum eleifend, sed ultricies neque efficitur. Proin congue odio quis molestie tincidunt. Suspendisse iaculis pharetra consectetur. Ut luctus sagittis augue a fringilla. Phasellus libero nunc, hendrerit auctor enim sed, euismod lobortis lectus. Pellentesque sed facilisis urna.'},
			{img:'portfolio2.jpg', title:'Lorem ipsum dolor sit amet', text:'Nam rhoncus dui augue, vel aliquet lorem tempor ac. Curabitur porta augue ac nisi feugiat venenatis. Pellentesque tincidunt efficitur ex, non placerat orci dictum eget. Vivamus eleifend velit ac tincidunt feugiat. Duis dignissim nulla quis ipsum eleifend, sed ultricies neque efficitur. Proin congue odio quis molestie tincidunt. Suspendisse iaculis pharetra consectetur. Ut luctus sagittis augue a fringilla. Phasellus libero nunc, hendrerit auctor enim sed.'},
			{img:'portfolio3.jpg', title:'Lorem ipsum dolor sit amet', text:'Nam rhoncus dui augue, vel aliquet lorem tempor ac. Curabitur porta augue ac nisi feugiat venenatis. Pellentesque tincidunt efficitur ex, non placerat orci dictum eget. Vivamus eleifend velit ac tincidunt feugiat. Duis dignissim nulla quis ipsum eleifend, sed ultricies neque efficitur. Proin congue odio quis molestie tincidunt. Suspendisse iaculis pharetra consectetur. Ut luctus sagittis augue a fringilla.'},
			{img:'portfolio4.jpg', title:'Lorem ipsum dolor sit amet', text:'Nam rhoncus dui augue, vel aliquet lorem tempor ac. Curabitur porta augue ac nisi feugiat venenatis. Pellentesque tincidunt efficitur ex, non placerat orci dictum eget. Vivamus eleifend velit ac tincidunt feugiat. Duis dignissim nulla quis ipsum eleifend, sed ultricies neque efficitur. Proin congue odio quis molestie tincidunt. Suspendisse iaculis pharetra consectetur. Ut luctus sagittis augue a fringilla. Phasellus libero nunc, hendrerit auctor enim sed, euismod lobortis lectus. Pellentesque sed facilisis urna.'},
			{img:'portfolio5.jpg', title:'Lorem ipsum dolor sit amet', text:'Nam rhoncus dui augue, vel aliquet lorem tempor ac. Curabitur porta augue ac nisi feugiat venenatis. Pellentesque tincidunt efficitur ex, non placerat orci dictum eget. Vivamus eleifend velit ac tincidunt feugiat. Duis dignissim nulla quis ipsum eleifend, sed ultricies neque efficitur. Proin congue odio quis molestie tincidunt. Suspendisse iaculis pharetra consectetur. Ut luctus sagittis augue a fringilla.'},
			{img:'portfolio6.jpg', title:'Lorem ipsum dolor sit amet', text:'Nam rhoncus dui augue, vel aliquet lorem tempor ac. Curabitur porta augue ac nisi feugiat venenatis. Pellentesque tincidunt efficitur ex, non placerat orci dictum eget. Vivamus eleifend velit ac tincidunt feugiat. Duis dignissim nulla quis ipsum eleifend, sed ultricies neque efficitur. Proin congue odio quis molestie tincidunt. Suspendisse iaculis pharetra consectetur. Ut luctus sagittis augue a fringilla. Phasellus libero nunc, hendrerit auctor enim sed, euismod lobortis lectus.'},
		]

	.portfolio-list
		each item in list
			.portfolio-list__item
				.portfolio-list__img(style="background-image: url(assets/img/"+item.img+")")

				.portfolio-list__popup
					.portfolio-list__content
						.portfolio-list__title= item.title

						.portfolio-list__text= item.text

						a.btn(href='#')
							span.btn__text
								span Lorem ipsum
								+svg('ic-arrow-dot','ic-arrow-dot', '55', '23')

section.form-site-wrap
	.container
		.row
			.col-12
				.form-site
					.form-site__head Let's talk about your project
					
					.form-site__text Fill out the details in the form below and we will get back to you as soon as possible

					.form-site__content
						-
							var fileds=[
								{icon:'ic-person', icon_width:'29', icon_height:'30', value:'Jhon', type:'text'},
								{icon:'ic-phone', icon_width:'29', icon_height:'30', placeholder:'Phone', type:'text'},
								{icon:'ic-mail', icon_width:'32', icon_height:'22', placeholder:'E-mail', type:'email'},
							]
						each item in fileds
							.form-site__field
								input(type=item.type, value=item.value, placeholder=item.placeholder)

								.form-site__icon
									+svg(item.icon, item.icon, item.icon_width, item.icon_height)

						a.btn(href='#')
							span.btn__text
								+svg('ic-mail-fly','ic-mail-fly', '35', '21')
								span Send

					.form-site__notice You can also call us:
						br
						a(href="tel:+000000000") 00-000-0000
						| 
						| or write an email:
						| 
						a(href="mailto:example@mail.com") example@mail.com

section.blog-wrap.bg-grey
	.container
		.row
			.col-12
				h2 Professional magazine

				.blog-wrap__text
					p All the world's hottest news and updates in website building, SEO promotion, digital marketing, web development and systems development.

				
				
				
	.blog-list
		-
			var list=[
				{img:'blog1.jpg', title:'Lorem ipsum dolor sit', text:'Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.'},
				{img:'blog2.jpg', title:'Lorem ipsum dolor sit', text:'Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.'},
				{img:'blog3.jpg', title:'Lorem ipsum dolor sit', text:'Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.'},
			]
		.container
			.row
				each item in list
					.col-4
						.blog-list__item
							a(href="#").blog-list__img-wrap
								.blog-list__img(style="background-image: url(assets/img/"+item.img+")")

							.blog-list__title
								a(href="#")= item.title

							.blog-list__text= item.text

			.blog-list__more
				a.btn(href='#')
					span.btn__text
						span Read more
						+svg('ic-arrow-dot','ic-arrow-dot', '55', '23')

section.form-bg-wrap
	img.form-bg-wrap__triangle.form-bg-wrap__triangle_left(src="assets/img/triangle-left-up-grey.png", alt="")
	img.form-bg-wrap__triangle.form-bg-wrap__triangle_right(src="assets/img/triangle-right-up-grey.png", alt="")

	.container
		.row
			.col-12
				.form-bg
					.form-bg__title Want to know more?

					.form-bg__text Fill out the details in the form below and we will get back to you as soon as possible

					.form-bg__content
						-
							var fileds=[
								{icon:'ic-person', icon_width:'20', icon_height:'21', placeholder:'Name', type:'text'},
								{icon:'ic-phone', icon_width:'20', icon_height:'21', placeholder:'Phone', type:'text'},
								{icon:'ic-mail', icon_width:'22', icon_height:'15', placeholder:'E-mail', type:'email'},
							]
						each item in fileds
							.form-bg__field
								input(type=item.type, value=item.value, placeholder=item.placeholder)

								.form-bg__icon
									+svg(item.icon, item.icon, item.icon_width, item.icon_height)

						a.btn(href='#')
							span.btn__text
								+svg('ic-mail-fly','ic-mail-fly', '35', '21')
								span Send